<div id="algo1">
  <h4>Algorhytm 1</h4>
    <table border="3">
      <tr>
      	<th>Total View</th>
      	<th>Total Click</th>
      	<th>Total Buy</th>
      </tr>
      <tr>
      	<td><%= @algo_one.total_view %></td>
      	<td><%= @algo_one.total_click %></td>
      	<td><%= @algo_one.total_buy %></td>
      </tr>
    </table>
</div>

<div id="algo2">
<h4>Algorhytm 2</h4>
  <table border="3">
      <tr>
      	<th>Total View</th>
      	<th>Total Click</th>
      	<th>Total Buy</th>
      </tr>
      <tr>
      	<td><%= @algo_two.total_view %></td>
      	<td><%= @algo_two.total_click %></td>
      	<td><%= @algo_two.total_buy %></td>
      </tr>
    </table>
</div>

<%= @test.listen %>
