<p>Data updated : <%= @date_updated %></p>
<div id="algo1">
  <h4 style="padding-top : 8px;">Algorhytm 1</h4>
    <table border="3">
      <tr>
      	<th>Total View</th>
      	<th>Total Click</th>
      	<th>Total Buy</th>
      </tr>
      <tr>
      	<td width="20%" align="center">
          <%= link_to @algo_one.product_view , '/detailview?algo=algo1' %>
        </td>
      	<td width="20%" align="center">
          <%= link_to @algo_one.recommendation_clicked , '/detailclicked?algo=algo1' %>
        </td>
      	<td width="20%" align="center">
          <%= link_to @algo_one.recommendation_bought , '/detailbought?algo=algo1'%>
        </td>
      </tr>
    </table>
</div>

<div id="algo2">
<h4 style="padding-top : 8px;">Algorhytm 2</h4>
  <table border="3">
      <tr>
      	<th>Total View</th>
      	<th>Total Click</th>
      	<th>Total Buy</th>
      </tr>
      <tr>
      	<td width="20%" align="center">
          <%= link_to @algo_two.product_view , '/detailview?algo=algo2'%>
        </td>
      	<td width="20%" align="center">
          <%= link_to @algo_two.recommendation_clicked, '/detailclicked?algo=algo2' %>
        </td>
      	<td width="20%" align="center">
          <%= link_to @algo_two.recommendation_bought, '/detailbought?algo=algo2' %>
        </td>
      </tr>
    </table>
</div>
