<!DOCTYPE html>
<html>
<head>
  <title>Algorhytm Test Result</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to 'Algorhytm Test Result', root_path %></h1>
  </header>
      <%= yield %>
  <footer>
  </footer>
</body>
</html>
